-# frozen_string_literal: true
.filters#filters
  = render "selector"
  - if @view == "pending" || @view == "assigned"
    - Setting.unroll(:task_bucket).each do |value, key|
      .check_box
        %div{style: "float:right;"}
          = @task_total[key]
        = task_filter_checkbox(@view, key, @task_total[key])
        = label_tag("filters_#{key}", t(value))
  - else # @view == "completed"
    - Setting.unroll(:task_completed).each do |value, key|
      .check_box
        %div{style: "float:right;"}
          = @task_total[key]
        = task_filter_checkbox(@view, key, @task_total[key])
        = label_tag("filters_#{key}", t(value))
  .check_box{class: "total"}
    %div{style: "float:right;"}
      %b= @task_total[:all]
    %b== #{t(:total_tasks, t(@view + '_tasks'))}
